@import './variables';

.custom-navbar {
  background-color: #141414; 

  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: $primary-color;

    &:hover {
      color: $primary-color-hover; 
    }
  }

  .mobile-nav-link {
    text-align: center;
    width: 100%;
    color: #ffffff; 

    &:hover {
      color: #dddddd;
    }
  }
}
